
@{
    ViewBag.Title = "DangNhap";
    Layout = null;
}
@*<link href="~/Areas/Admin/assets/css/styleAdmin.css" rel="stylesheet" />*@
<link href="~/Areas/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
<style>
    #imgDn {
        width: 500px;
        height: 500px;
        margin-left: 0;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<h2 style="text-align:center">@ViewBag.ThongBao</h2>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100" style="margin-left: 100px; margin-right: 100px;">
            <div class="col-md-9 col-lg-6 col-xl-5">
                @*<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">*@
                <img src="~/Areas/Admin/assets/img/log.svg" id="imgDn"/>
            </div>
            <div class="col-md-3 col-lg-6 col-xl-7">
                @using (Html.BeginForm())
                {
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0" style="font-size:22px; color: #f48f41"> Đăng Nhập</p>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Tài Khoản:</label>
                        <input type="text" name="txtTaiKhoan" id="form3Example3" class="form-control form-control-lg"
                               placeholder="Tài Khoản" />

                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">Mật Khẩu:</label>
                        <input type="password" name="txtMatKhau" id="form3Example4" class="form-control form-control-lg"
                               placeholder="Mật Khẩu" />

                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-warning btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Đăng Nhập
                        </button>
                        @*<p class="small fw-bold mt-2 pt-1 mb-0">
                            Bạn chưa có tài khoản?
                            <a href="@Url.Action("DangKy")"
                               class="link-danger">Đăng ký</a>
                        </p>*@
                    </div>

                }
            </div>
        </div>
    </div>
</section>
@if (TempData["message"] != null)
{
    <script>

            var alert_success = document.getElementsByClassName("alert-success")[0];
        var text_success = document.getElementById("text_success");
        text_success.innerHTML = 'Đăng nhập thành công!!!';
            alert_success.style = "display:flex";
        setTimeout(function () {
                alert_success.style = "display:none";
            }, 3000);
    </script>
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangNhap</title>
</head>
<body>
    <div>

    </div>
</body>
</html>
