:root {
    --main-color: #f48f41;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;
    --nav-height: 60px;
    --space-top: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
}

.main-color {
    color: var(--main-color);
}

.containers {
    max-width: 1920px;
    padding: 0 0px;
    margin: 0;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}

    .nav a {
        color: var(--text-color);
    }

.logo {
    font-size: 2rem;
    font-weight: 900;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 0px;
}

    .nav-menu li ~ li {
        margin-left: 10px;
    }

    .nav-menu a {
        text-transform: uppercase;
        font-weight: 600;
    }

        .nav-menu a:hover {
            color: var(--main-color);
        }

        .nav-menu a.btn:hover,
        a.logo:hover,
        a.movie-item:hover {
            color: unset;
        }

.btn {
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.btn-hover:hover::before {
    width: 100%;
}

.btn i,
.btn span {
    z-index: 1;
}

.btn i {
    margin-right: 1rem;
}

.hamburger-menu {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.hamburger {
    position: relative;
}

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        width: var(--size);
        height: 3px;
        border-radius: 0.5rem;
        background-color: var(--text-color);
        transition: 0.4s;
    }

        .hamburger::before,
        .hamburger::after {
            content: "";
            position: absolute;
            left: 0;
        }

        .hamburger::before {
            top: -10px;
        }

        .hamburger::after {
            bottom: -10px;
        }

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

    .hamburger-menu.active .hamburger::before {
        transform-origin: top left;
        transform: rotate(45deg);
        left: 6px;
    }

    .hamburger-menu.active .hamburger::after {
        transform-origin: bottom left;
        transform: rotate(-45deg);
        left: 6px;
    }

.hero-slide-item {
    padding-top: 40%;
    position: relative;
    overflow: hidden;
}

    .hero-slide-item img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

.hero-slide-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
}

.item-content-wraper {
    padding-left: 5rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

    .item-content-wraper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    }

.item-content-title {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
}

.movie-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(var(--space-top) / 2);
}

.movie-info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

    .movie-info span {
        margin-left: 5px;
    }

    .movie-info i {
        color: var(--main-color);
    }

    .movie-info ~ .movie-info {
        margin-left: 5px;
    }

.item-content-description {
    font-size: 1.15rem;
    margin-top: var(--space-top);
    line-height: 1.5rem;
}

.item-action {
    margin-top: var(--space-top);
}

.carousel-nav-center {
    position: relative;
}

    .carousel-nav-center .owl-nav button i {
        font-size: 3rem;
    }

    .carousel-nav-center .owl-nav button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .carousel-nav-center .owl-nav .owl-prev {
        position: absolute;
        left: 5px;
    }

    .carousel-nav-center .owl-nav .owl-next {
        position: absolute;
        right: 5px;
    }

.owl-nav button {
    border: none;
    outline: none;
}

    .owl-nav button i {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
    }

    .owl-nav button:hover i {
        color: var(--main-color);
    }

.top-down {
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.delay-2 {
    transition-delay: 0.2s;
}

.delay-4 {
    transition-delay: 0.4s;
}

.delay-6 {
    transition-delay: 0.6s;
}

.delay-8 {
    transition-delay: 0.8s;
}

.owl-item.active .top-down {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.movie-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 140%;
    cursor: pointer;
}

    .movie-item img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: transform 0.3s linear;
    }

    .movie-item:hover img {
        transform: scale(1.2);
    }

.movie-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

    .movie-item-content::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    }

.movie-item-title {
    color: var(--text-color);
    font-size: 1.5rem;
    position: relative;
    font-weight: 700;
}

.section {
    padding-top: 80px;
}

.section-header {
    margin-bottom: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    border-left: 4px solid var(--main-color);
    display: flex;
    align-items: center;
}

.pricing-header {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.pricing-box {
    padding: 50px;
    margin: 15px 0;
    background-color: var(--box-bg);
    border-top: 5px solid transparent;
    transition: transform 0.3s ease-in-out;
}

    .pricing-box:hover {
        transform: translateY(-20px);
    }

    .pricing-box.hightlight {
        border-top: 5px solid var(--main-color);
    }

.pricing-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.pricing-price {
    font-weight: 700;
}

    .pricing-price span {
        font-size: 1rem;
    }

.pricing-box-content {
    text-align: center;
    margin-top: 60px;
    font-size: 1.25rem;
}

.pricing-box-action {
    text-align: center;
    margin-top: 60px;
}

footer.section {
    margin-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: var(--box-bg);
}

footer a:hover {
    color: var(--main-color);
}

footer a.logo {
    margin-top: -2.5rem;
    display: block;
}

    footer a.logo:hover {
        color: unset;
    }

.social-list {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-item {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--main-color);
}

    .social-item:hover {
        background-color: var(--main-color);
        color: var(--text-color);
    }

    .social-item ~ .social-item {
        margin-left: 20px;
    }

footer .content {
    margin-top: 20px;
}

.footer-menu {
    list-style-type: none;
}

    .footer-menu a {
        display: inline-block;
        transition: transform 0.2s ease-in-out;
    }

        .footer-menu a:hover {
            transform: translateX(5px);
        }

.copyright {
    padding: 10px;
    border-top: 1px solid var(--body-bg);
    background-color: var(--box-bg);
    text-align: center;
}

/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
    html {
        font-size: 14px;
    }

    .hero-slide-item {
        padding-top: 50%;
    }

    .item-content-wraper {
        width: 50%;
    }
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 12px;
    }

    .container {
        padding: 0 15px;
    }

    .hero-slide-item {
        height: max-content;
        padding-top: unset;
    }

    .item-content-wraper {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        padding-right: 5rem;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .hero-slide-item-content {
        position: relative;
    }

    .hero-slide-item img {
        height: 100%;
    }

    .item-content-title {
        font-size: 3rem;
    }

    .hamburger-menu {
        display: grid;
    }

    .nav-menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }

        .nav-menu li {
            margin: 10px 30px;
        }

        .nav-menu.active {
            left: 0;
        }
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.box-1 {
    max-width: 450px;
    padding: 10px 40px;
    user-select: none
}

    .box-1 img.pic {
        width: 20px;
        height: 20px;
        object-fit: cover
    }

    .box-1 img.mobile-pic {
        width: 100%;
        height: 200px;
        object-fit: cover
    }

    .box-1 .name {
        font-size: 11px;
        font-weight: 600
    }

.dis {
    font-size: 12px;
    font-weight: 500
}

.box-2 {
    max-width: 450px;
    padding: 10px 40px
}

    .box-2 .box-inner-2 input.form-control {
        font-size: 12px;
        font-weight: 600
    }

    .box-2 .box-inner-2 .inputWithIcon {
        position: relative
    }

        .box-2 .box-inner-2 .inputWithIcon span {
            position: absolute;
            left: 15px;
            top: 8px
        }

    .box-2 .box-inner-2 .inputWithcheck {
        position: relative
    }

        .box-2 .box-inner-2 .inputWithcheck span {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: green;
            font-size: 12px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 15px;
            top: 6px
        }

.border:focus-within {
    border: 1px solid #7700ff !important
}

.box-2 .card-atm .form-control {
    border: none;
    box-shadow: none
}


.address .form-control.zip {
    border-radius: 0;
    border-bottom-left-radius: 10px
}

.address .form-control.state {
    border-radius: 0;
    border-bottom-right-radius: 10px
}

.box-2 .box-inner-2 .btn.btn-outline-primary {
    width: 120px;
    padding: 10px;
    font-size: 11px;
    padding: 0% !important;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0;
    background-color: whitesmoke;
    color: black;
    font-weight: 600
}

.box-2 .box-inner-2 .btn.btn-primary {
    background-color: #7700ff;
    color: whitesmoke;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    border: none;
    padding: 10px
}

    .box-2 .box-inner-2 .btn.btn-primary:hover {
        background-color: #7a34ca
    }

    .box-2 .box-inner-2 .btn.btn-primary .fas {
        font-size: 13px !important;
        color: whitesmoke
    }

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%
}

.carousel-inner {
    width: 100%;
    height: 200px
}

.carousel-item img {
    object-fit: cover;
    height: 100%
}

.carousel-control-prev {
    transform: translateX(-50%);
    opacity: 1
}

    .carousel-control-prev:hover .fas.fa-arrow-left {
        transform: translateX(-5px)
    }

.carousel-control-next {
    transform: translateX(50%);
    opacity: 1
}

    .carousel-control-next:hover .fas.fa-arrow-right {
        transform: translateX(5px)
    }

.fas.fa-arrow-left, .fas.fa-arrow-right {
    font-size: 0.8rem;
    transition: all .2s ease
}

.icon {
    width: 30px;
    height: 30px;
    background-color: #f8f9fa;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform-origin: center;
    opacity: 1
}

.fas.fa-times {
    color: red
}

.fas, .fab {
    color: #6d6c6d
}

::placeholder {
    font-size: 12px
}

.couponCode {
    text-transform: uppercase;
    font-size: 0.7rem
}

#code {
    pointer-events: none;
    font-weight: 600
}

.close {
    cursor: pointer
}

.info {
    transform: translateX(-500px);
    animation: moving 1.5s;
    animation-fill-mode: forwards
}

.updates {
    transform: translateX(-500px);
    animation: moving 1.7s;
    animation-fill-mode: forwards
}

.different {
    transform: translateX(-500px);
    animation: moving 1.9s;
    animation-fill-mode: forwards
}

.black {
    transform: translateX(-500px);
    animation: moving 2.1s;
    animation-fill-mode: forwards
}

.white {
    transform: translateX(-500px);
    animation: moving 2.3s;
    animation-fill-mode: forwards
}

.pastel {
    transform: translateX(-500px);
    animation: moving 2.5s;
    animation-fill-mode: forwards
}

.footer {
    transform: translateX(-500px);
    animation: moving 2.6s;
    animation-fill-mode: forwards
}

@keyframes moving {
    0% {
        opacity: 0;
        transform: translateX(-500px)
    }

    100% {
        opacity: 1;
        transform: translateX(0px)
    }
}

.box-2 {
    transform: translateY(-500px);
    animation: img-top 2.5s;
    animation-fill-mode: forwards
}

.user {
    transform: translateY(-500px);
    animation: img-top 2.5s;
    animation-fill-mode: forwards
}

.userdetails {
    transform: translateY(-500px);
    animation: img-top 2.0s;
    animation-fill-mode: forwards
}

.imgdetails {
    transform: translateY(-500px);
    animation: img-top 1.5s;
    animation-fill-mode: forwards
}

@keyframes img-top {
    0% {
        opacity: 0;
        transform: translateY(-500px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@media (max-width:768px) {
    .container {
        max-width: 700px;
        margin: 10px auto
    }

    .box-1, .box-2 {
        max-width: 600px;
        padding: 20px 90px;
        margin: 20px auto
    }

    .box-2 {
        transform: translateX(-500px);
        animation: box-side 2.6s;
        animation-fill-mode: forwards
    }

    @keyframes box-side {
        0% {
            opacity: 0;
            transform: translateX(-500px)
        }

        100% {
            opacity: 1;
            transform: translateX(0px)
        }
    }
}

@media (max-width:426px) {
    .box-1, .box-2 {
        max-width: 400px;
        padding: 20px 10px
    }

    ::placeholder {
        font-size: 9px
    }
}